* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #273048;
	box-shadow: inset 0 0 180px 0 rgba(31, 0, 0, 0.51);	
	font-family: "Acme", sans-serif;
}

#money_wrapper {
	transition: transform 0.4s;
	&.hidden {
		transform: translateX(-100%);
	}
}

#fps {
	position: fixed;
	top: 5px;
	right: 5px;	
	color: white;
	font-family: monospace;
	text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

#money_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	color: white;
	font-size: 40px;
	span {
		text-shadow: 1px 2px 6px rgb(0, 0, 0, 0.7);
	}
	img {
		width: 80px;
		height: 80px;
		user-select: none;
		margin: 12px;
		animation: coinflip 4s linear infinite;
	}
	#profit {
		font-size: 20px;
		margin-left: 20px;
		color: #77c477;
		&.negative {
			color: #c47784;
		}
	}
	@keyframes coinflip {
		0% {transform: perspective(100px) rotateY(0deg);}
		100% {transform: perspective(100px) rotateY(360deg);}
	}
}

#next_turn_wrapper {
	position: fixed;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	button {
		display: block;
		outline: none;
		margin: 20px 0 20px 20px;
		font: 40px "Acme", sans-serif;
		padding: 0.1em 0.7em 0.2em 0.7em;
		background: #a84a43;
		color: white;		
		border: 10px solid #793530;
		border-right: none;
		border-radius: 10px 0 0 10px;
		cursor: pointer;
		transition: padding 0.5s cubic-bezier(.74,-0.53,.43,1.52);
		text-shadow: 1px 2px 6px rgb(0, 0, 0, 0.7);
		box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
		&:hover {
			padding-right: 2em;
		}
	}
	
}

#indicator_wrapper {
	position: fixed;
	bottom: 0px;
	left: 0;
	display: flex;
	flex-direction: column;
	#team_indicator {
		width: 90px;
		height: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 10px solid rgba(0, 0, 0, 0.2);
		margin: 20px;
		box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
		transition: background-color 0.3s;
		animation: bobbing 5s infinite;
		h1 {
			font-weight: normal;
			font-size: 20px;
			color: white;
			margin: 0px;
			padding: 0;
			text-align: center;
			text-shadow: 1px 2px 6px rgb(0, 0, 0, 0.7);
			line-height: 1;
			user-select: none;
		}
	}
	@keyframes bobbing {
		0% { transform: scale(1);}
		25% { transform: scale(1.1) rotate(-10deg);}
		50% { transform: scale(1);}
		75% { transform: scale(1.1) rotate(6deg);}
		100% { transform: scale(1);}
	}
}