body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #273048;
    box-shadow: inset 0 0 180px 0 rgba(212, 237, 245, 0.19);
}

#fps {
	position: fixed;
	top: 5px;
	left: 5px;	
	color: white;
	font-family: sans-serif;
}

#next_turn_wrapper {
	position: fixed;
	bottom: 5px;
	right: 5px;
	#team_indicator {
		width: 30px;
		height: 30px;
		display: inline-block;
	}
	button {
		width: 100%;
	}
}